{% extends 'header.html'%} {% block content %}
<!DOCTYPE html>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="custom_heading">
      {% if carts %}
      <h2><span>Cart</span></h2>
      {% else %}
      <h2><span>No Item In Cart</span></h2>
      {% endif %}
    </div>
    <section id="cart" class="container">
      <table width="100%">
        <thead>
          <tr>
            <td>Remove</td>
            <td>Image</td>
            <td>Product</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          {% for i in carts %}
          <tr>
            <td>
              <a href="{% url 'remove_from_cart' pk=i.sneaker.pk %}">
                <i class="fa-solid fa-xmark"></i
              ></a>
            </td>
            <td>
              <img src="{{i.sneaker.sneaker_image.url}}" atl="" width="75px" />
            </td>
            <td>{{i.sneaker.sneaker_name}}</td>
            <td>${{i.sneaker.sneaker_price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <br />
    <br />
    <section id="cart-add" class="section-p1">
      {% if carts %}
      <div id="subtotal" style="float: right">
        <h3>Cart Total</h3>
        <table>
          <tr>
            <td>Subtotal</td>
            <td>${{i.sneaker.sneaker_price}}</td>
          </tr>
          <tr>
            <td>Shipping</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td><strong>Estimated Total</strong></td>
            <td><strong>{{net_price}}</strong></td>
          </tr>
        </table>
        <form name="payment" method="post" action="{% url 'payment' %}">
          {% csrf_token %}
          <input type="hidden" name="net_price" value="{{net_price}}" />
          <button type="submit" id="checkout-button">Checkout</button>
        </form>
        {% endif %}
      </div>
    </section>
  </body>
</html>

{% endblock %}
