{% extends 'header.html' %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <center>
      <h1>Contact Page</h1>
      {% if msg %}
      <b style="color: red">{{msg}}</b>
      {% endif %}
      <form name="contact" method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>Name</td>
            <td><input type="text" name="name" /></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td><input type="text" name="mobile" /></td>
          </tr>
          <tr>
            <td>Additional Information</td>
            <td><textarea rows="5" cols="25" name="add_info"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <input type="submit" name="submit" value="SUBMIT" class="btn" />
            </td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
{% endblock %}
