{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center>
		<h1>Reset Password </h1><br>
        Please enter the email address that is associated with your account.
		<form name="forgot_password" method="post" action="{% url 'forgot_password' %}">
			{% csrf_token %}
			<div class="forgot_password">
            
            <tr>
                <br>
              <div class="form-row col-md-2">
                <input
                  name="email"
                  type="text"
                  required=""
                  autocomplete="true"
                  class="field"
                  value=""
                  placeholder="Email"
                />
              </div>
            </tr>
            <tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="SEND OTP" class="btn-outline-primary"></td>
			</tr>
        {% if msg %}
			<b style="color: red;">{{msg}}</b>
		{% endif %}
		</form>
	</center>
</body>
</html>
{% endblock %}