{% extends 'header.html' %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <center>
      <h1>Login Page</h1>
      {% if msg %}
      <b style="color: red">{{msg}}</b>
      {% endif %}
      <div class="login-body">
        <form
          name="login"
          method="post"
          action="{% url 'login' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="login">
            <tr>
              <div class="form-row col-md-2">
                <input
                  name="email"
                  type="text"
                  autocomplete="true"
                  class="field"
                  value=""
                  placeholder="Email"
                />
              </div>
            </tr>
            <tr>
              <div class="form-row col-md-2">
                <input
                  name="password"
                  type="text"
                  autocomplete="true"
                  class="field"
                  value=""
                  placeholder="Password"
                />
              </div>
            </tr>

            <tr>
              <td colspan="2" align="center">
                <input
                  type="submit"
                  name="submit"
                  value="LOGIN"
                  class="btn-outline-primary"
                />
              </td>
            </tr>
            <br />
            <br />
            <tr>
              <td colspan="2" align="center">
                <a href="{% url 'forgot_password' %}"><input type="button" name="fp" value="FORGOT PASSWORD" class="btn-outline-primary"></td></a>
              </td>
            </tr>
            <br />
            <br />
            <tr>
              <td colspan="2" align="center">
                Haven't signed up yet ?
                <a href="{% url 'signup' %}">Click here to signup </a>
              </td>
            </tr>
          </div>
        </form>
      </div>
    </center>
  </body>
</html>
{% endblock %}
