{% extends 'header.html' %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <center>
      <h1>Sell Sneaker</h1>
      {% if msg %}
      <b style="color: red">{{msg}}</b>
      {% endif %}
      <div class="login-body">
        <form
          name="signup"
          method="post"
          action="{% url 'sell_sneaker' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="signup">
            <tr>
              <div class="form-row col-md-2">
                <input
                  name="sneaker_name"
                  type="text"
                  required=""
                  autocomplete="true"
                  class="field"
                  value=""
                  placeholder="Sneaker Name"
                />
              </div>
            </tr>
            <tr>
              <div class="form-row col-md-2">
                <input
                  name="sneaker_size"
                  type="text"
                  required=""
                  autocomplete="true"
                  class="field"
                  value=""
                  placeholder="Size"
                />
              </div>
            </tr>
            <tr>
              <div class="form-row col-md-2">
                <input
                  name="sneaker_price"
                  type="text"
                  required=""
                  autocomplete="true"
                  class="field"
                  value=""
                  placeholder="Price"
                />
              </div>
            </tr>
            <tr>
              <div class="form-row col-md-2">
                <textarea
                  rows="5"
                  cols="25"
                  name="sneaker_desc"
                  placeholder="Description"
                  required=""
                ></textarea>
              </div>
            </tr>
            <br />
            <br />
            <tr>
              <input
                name="sneaker_image"
                type="file"
                required=""
                value=""
                placeholder="Image"
              />
            </tr>
            <br />
            <br />

            <tr>
              <td colspan="2" align="center">
                <input
                  type="submit"
                  name="submit"
                  value="Add Sneaker"
                  class="btn-outline-primary"
                />
              </td>
            </tr>
            <br />
            <br />
          </div>
        </form>
      </div>
    </center>
  </body>
</html>
{% endblock %}
