{% extends 'header.html'%} {% block content %}
<!DOCTYPE html>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .grow img{
      transition: 1s ease;
      }

      .grow img:hover{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      transition: 1s ease;
      }
    </style>
  </head>
  <body>
    <section class="product_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2><span>Best Selling Sneakers</span></h2>
        </div>
        <div class="row">
          {% for i in sneakers %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box grow">
              <div class="img-box" >
                <a href="{% url 'sneaker_detail' pk=i.pk %}"><img src="{{i.sneaker_image.url}}" alt="" class='img-thumbnail'/></a>
              </div>
              <div class="detail-box">
                <h5>{{i.sneaker_name}}</h5>
                <h6>${{i.sneaker_price}}</h6>
              </div>
            </div>
          </div>
          {% endfor %}
    </section>

    <script src="" async defer></script>
  </body>
</html>

{% endblock %}
